  <div class="pageheader">
                 <div class="pageicon"><span class="iconfa-laptop"></span></div>
                    <div class="pagetitle">
                        <h1>Good Morning!</h1>
                    </div>
                </div>
                 <div class="error" align="center" >__PROMPT__</div>

            
        	<div class="container_account">
            
				<div class="block_home">
                	<div>
                    	<p>Welcome! check your profile.</p>
                    </div>
                   
                </div>
            </div>
            
            <!-- Left End -->
            
          
 
      