<div class="pageheader">
                    <div class="searchbar">
                          <div class="btn_com"> <a href="__SITE_URL__/edit_user.php?id=__id__">Edit</a></div>
                        </div>
                    <div class="pageicon"><span class="iconfa-user"></span></div>
                    <div class="pagetitle">
                        <h1>User - __first_name__</h1>
                    </div>
                </div>
            
        	<div class="container_account">
            
            	
                <div class="block_customer">
                	<div class="profile_block">
                    	<div class="profile_block_left">
                        	<div class="block_img">
                            	__picture_file__
                            </div>
                         
                        </div>
                        <div class="profile_block_right">
                        	<p><span>__name__</span></p>
            							  
                              
                          <p>TFN: __tfn_no__<br /></p>
                                      
                          <p>__address__  __city__<br />
            							     __state__    __country__  __postal_code__</p>
                          <p>__phone__<br /> __office_phone__</p>
                            <p><a href="mailto:__email__">__email__</a><br />
							</p>
                        </div>
                    </div>
                    
                    
                   
               		
                </div>
                
                
            </div>       