<script>

 function getEmpContents()
{       
  document.getElementById('search_result').innerHTML = "Just a second..."

    var region      =  $('#region').val();
    var emp_type   =  $('#emp_type').val();
    var department      =  $('#department').val();
    var reportto      =   $('#reportto').val();
   
  var dataString = "region="+region+"&emp_type="+emp_type+"&department="+department+"&reportto="+reportto; 
   
    // alert("__SITE_URL__/ajax_searchCustomer.php?"+dataString);
   $.ajax({
              url: "__SITE_URL__/ajax_searchEmployee.php?"+dataString,             
              async: false,
              cache: false,
              success: function(html){ 
			        $('#search_result').html(html);
                
               }                          
        });                                  
  
}
</script>  

  <!-- Left Start -->            
        	<div class="pageheader">
                    <div class="searchbar">
                           <div class="btn_com"><a href="__SITE_URL__/create_employee.php">Add Employee</a></div>
                        </div>
                    <div class="pageicon"><span class="iconfa-user"></span></div>
                    <div class="pagetitle">
                        <h1>View Employee</h1>
                    </div>
                </div>
                <div class="error" align="center" style="margin-bottom:10px;"></div>
              <div class="container_account">                 
                  <div class="block_customer">                 
                	
               
               <div class="error2">__PROMPT__</div>
            	 <div class="block_product">
            	 
                
                    
                    <div class="nav_details">
                    <ul>
                    __Regnav__
                    </ul>                     
                    </div>
                    <div class="block_product_content" id="search_result">
                    	<table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered responsive dataTable product_table">
                        <thead>
                        	<tr>
                            	<th width="30">#</th>
                                <th width="180">Name</th>
								 <th width="180">Username</th>
                                <th width="150">Email</th>                                                    
                                <th width="60">Status</th>                               
                                <th width="60">&nbsp;</th>
                            </tr>
                           </thead>  
                            __PAGE_LIST__
                        </table>
                    </div>
                </div> </div>
            </div>
            <!-- Left End -->
<script>
function remove_emp(emp_id)
{ //alert(emp_id);
  if(confirm('Sure to delete?'))
  {  
		var dataString ='emp_id='+emp_id;  
		$.ajax(
    {
			url: "ajax_remove_employee.php?"+dataString,
			data: dataString,
			async: false,
			cache: false,
			success: function(html)
        {
				  //$('#sn_'+id).slideUp('slow', function(){ $('#sn_'+id).remove(); });;
                  $('#ep_'+emp_id).remove().slideUp("slow");
				//alert(html);
			 }
		});
	}
}
</script> 