			<div class="rightDiv">
            	<div class="heading_right">
                	<p>Inbox</p>
                </div>
                <div class="right_content">
                  __Rightbar_Messages__
                </div>
                <div class="heading_right">
                	<p>To Do's</p>                  	
                </div>
                <div class="right_content">
                	<div style="clear:both;"></div>
                	<div style="background-color:#fff; overflow:hidden; margin:10px; padding:0 10px 10px 10px; min-height:230px;">
                        
                        __Right_EVENTS__
                  	</div>
                </div>
        </div>