<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>__meta_title__</title>
<meta name="description" content="__meta_desc__" />
<meta name="keywords" content="__meta_keyword__" />
<meta name="author" content="__meta_author__" />

<link rel="stylesheet" type="text/css" href="__SITE_URL__/css/style.default.css" />
<link rel="stylesheet" type="text/css" href="__SITE_URL__/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="__SITE_URL__/css/style.green.css" />
<link rel="stylesheet" type="text/css" href="__SITE_URL__/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="__SITE_URL__/css/style.css" />
<link rel="stylesheet" type="text/css" href="__SITE_URL__/css/style_menu.css" />
<script type="text/javascript">
    var SITE_URL = "__SITE_URL__";
    var GST = "__GST_VAL__";
</script>
<script src="http://code.jquery.com/jquery-1.4.1.js"></script>




<script type="text/javascript" src="__SITE_URL__/js/functions.js"></script> 
<script type="text/javascript" src="__SITE_URL__/js/jquery.validate.js"></script>
<script type="text/javascript" src="__SITE_URL__/js/jquery.MultiFile.js"></script>
<script type="text/javascript" src="__SITE_URL__/fancybox/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="__SITE_URL__/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="__SITE_URL__/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<!--Calender Script Start-->
<link rel="stylesheet" type="text/css" media="screen" href="/cal/datePicker.css">
<script type="text/javascript" src="/cal/jquery.datePicker.js"></script>
<script type="text/javascript" src="/cal/date.js"></script>
<!--Calender Script End-->



</head>
<body>
<div id="ajax_loading">Loading <img src="__SITE_URL__/images/ajax-loader.gif" align="absmiddle" /></div>
<div class="outerDiv">
	<div class="innerDiv">
    	
        
         __TOPBAR__
        __SUB_TEMPLATE__
        <!-- __BOTTOMBAR__  -->
<script src="__SITE_URL__/js/custom.js"></script>         
</body>
</html>